body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px lightgrey;
  padding: 10px 30px;
  background-color: white;
  position: sticky;
  top: 0;
}
ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
ul a {
  color: black;
  text-decoration: none;
}
.login-btn,
.readmore {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  padding: 8px 15px;
  border: none;
  outline: none;
}
.hero {
  text-align: center;
}
.hero .create-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}
.card-container {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: 28%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px lightgrey;
}
.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
footer {
  background-color: #333;
  color: white;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.footer-section {
  display: flex;
  flex-direction: column;
}
.footer-section a {
  color: #dedddd;
  text-decoration: none;
}
.footer-button {
  text-align: center;
  margin: 0;
  padding: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px lightgrey;
  padding: 10px 30px;
  background-color: white;
  position: sticky;
  top: 0;
}
ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
ul a {
  color: black;
  text-decoration: none;
}
.login-btn,
.readmore {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  padding: 8px 15px;
  border: none;
  outline: none;
}
.blog {
  width: 50%;
  margin: 30px auto;
  background-color: white;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0 10px 30px;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 8px;
}
.publish {
  background-color: green;
  text-align: center;
  margin-right: 20px;
  color: white;
  border-radius: 5px;
}
.cancil {
  background-color: red;
  text-align: center;
  margin-right: 20px;
  color: white;
  border-radius: 5px;
}
input {
  padding: 4px 170px;
}
.footer-button {
  text-align: center;
  margin: 0;
  padding: 5px;
}

.blog-detail-title {
  background-color: #000026;
  color: white;
  text-align: center;
  padding: 80px;
}
.blog-metadata {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.blog-detail-title h1 {
  font-size: 40px;
}
.author,
.reading-time,
.publish-date {
  display: flex;
  align-items: center;
  gap: 5px;
}
p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.blog-description {
  width: 60%;
  margin: 30px auto;
  p {
    text-align: justify;
  }
}
img{
  width: 100%;
  height: 400px;
  object-fit:cover ;
  border-radius: 10px;
}
.para{
  margin-top: 10px;
}
