.events-banner {
  height: 50vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1494778696781-8f23fd5553c4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNwb3J0JTIwZm9vdGJhbGx8ZW58MHx8MHx8fDA%3D");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;

  .overlay {
    height: 100%;
    width: 100%;
    background-color: #00000097;
    position: absolute;
  }
  h1,
  p {
    z-index: 1;
    text-shadow: 1px 2px 4px #000000bf;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}
.tab-navigation{
  display: flex;
  justify-content: center;
  gap: 25px;
  height: 10vh;
}
.school-events,.photo-gallery{
  display: flex;
  align-items: center;
  gap: 15px;
}

.school-events,.photo-gallery:hover{
  color: #667eea;
  font-weight: 600;
  background-color: #f8f9ff;
  padding: 0 15px;
  border-bottom: 3px solid #667eea;
  transition: all 0.4s ease;
}
.event-section{
  background-color: #f8f9fa;
  padding: 80px ;
}
.event-title{
  text-align: center;
  margin-bottom: 50px;
  h1{
    font-size: 40px;
    margin-bottom: 1rem;
    color: #212529;
  }
  p{
    color: #6c757d;
  }
}
.event-categories button{
font-weight: 600;
color: #212529;
border: none;
outline: none;
background-color: white;
padding: 10px 20px;
border-radius: 25px;
box-shadow: 2px 2px 8px 0 #1c1a1a33;
}
.event-categories{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.frist-button{
  background-color: #667eea !important;
  color: white !important;
}

.event-cards{
  margin-top: 50px;
  margin: 0 50px;
display: flex;
gap: 50px;
margin-top: 30px;


.card{
  max-width: 30%;
  border-radius: 15px;
  box-shadow: 3px 3px 12px 0px #00000026;
  position: relative;

  img{
    width: 100%;
    border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 
  }
}
}
.event-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px ;
  font-size: 15px;
  color: #6c757d;

.Pill{
  background-color: #e3f2fd;
  color: #1976d2;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 700;
}
}
.event-content{
  padding: 10px 25px;
  h3{
     margin-bottom: 15px;
    color: #212529;
  }
  p{
    text-align: justify;
    color: #6c757d;
  }
}
.event-location{
  color: #6c757d;
  display: flex;
  grid-area: 15px;
  padding: 10px 25px;
}
.event-date{
  background-color: #1976d2;
  color: white;
  padding: 20px;
  border-radius: 15px;
  display: inline-block;
  font-weight: 600;
position: absolute;
top: 10;
left: 10;
  h3{
    font-size: 24px;
  }
  p{
    font-size: 13px;
  }
}
.event-status{
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 13px;
  background-color: #28a745;
  border-radius: 20px;
  color: white;
  display:inline-block;
  font-weight: 600;
  position: absolute;
top: 10;
right: 10;
}
.first-footer{
  background-color: #1976d2;
  color: white;
  text-align: center;
  padding: 8rem;
  margin-top: 100px;
  h1{
    font-size: 50px;
    padding-bottom: 20px;
  }
    p{
      font-size: 1.2rem;
    }
    .get-btn{
      padding: 20px 40px ;
      margin-top: 60px;
      background-color: white;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 1.1rem;
    }
  }
