.faculties-banner {
  height: 50vh;
  width: 100vw;
  background: url("https://images.unsplash.com/photo-1539413595691-37a09a48579b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: white;

  .overlay {
    height: 100%;
    width: 100%;
    background-color: #00000097;
    position: absolute;
  }
  h1,
  p {
    z-index: 1;
  }
  h1 {
    font-size: 55px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}
.Facilites-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  max-width: 100%;
  word-wrap: break-word;

  p {
    margin-top: 30px;
    color: lightgray;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.8;
  }

  h5 {
    color: rgb(5, 100, 178);
    font-size: 40px;
    text-align: center;
    align-items: justify;
  }
}
.section {
  display: flex;
  gap: 50px;
  margin-right: 70px;
  margin-top: 50px;
  padding: 50px;

  .section-1 {
    background-color: white;
    box-shadow: 0 10px 25px #0000001a;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  p {
    color: #2c3e50;
    text-align: justify;
    padding: 0 32px 32px 32px;
  }
}
.section-2 {
  display: flex;
  gap: 50px;
  margin-right: 70px;
  margin-top: 50px;
  padding-left: 50px;
  .section2 {
    background-color: white;
    box-shadow: 0 10px 25px #0000001a;
    border-radius: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  p {
    color: #2c3e50;
    text-align: justify;
    padding: 0 32px 32px 32px;
  }
}


    .why-choose-card-container{
        display: flex;
      margin-left: 20px;
      margin-right: 20px;
        .card{
            background-color: white;
            box-shadow:0 10px 25px #0000001a;
            border-radius: 10px;
            gap: 10px;
            display: flex;
            flex-direction: column;
           outline: #d9d9d9;
         
        }

img{
  object-fit: cover;
}

        p{
            color: #2c3e50;
            text-align: justify;
            padding: 0 32px 32px 32px;
        }
        .feature-icon{
          font-size: 45px;
        }
      }
.why-choose-card-container {
 margin-top: 50px;
display: flex;
    .card {
   max-width: 30%;
   border-radius: 10px;
   box-shadow: 3px 3px 12px #000000bf;
   position: relative;
   margin-left: 20px;
   margin-right: 20px;

   img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
   }
    }
    p {
      color: #2c3e50;
      text-align: justify;
      padding: 0 32px 32px 32px;
    }
    .feature-icon {
      font-size: 45px;
    }
  }

.first-footer {
  background-color: #1b7ed5;
  color: white;
  text-align: center ;
}

button {
  background-color: white;
  color: #1b7ed5;
  font-size: 15px;
  padding: 8px 15px;
  border-radius: 50px;
  padding: 10px 25px;
  text-align: center;
  border: 0;
  outline: 0;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 60px;
}
h1 {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 30px;

  .span {
    padding-top: 10px;
  }
}
.footer {
  height: 50vh;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
}
.footer-contect {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}
.footer-bottom {
  text-align: center;
  padding: 25px 0;
  background-color: #34495e;
}
