.loginform{
    min-height: 100vh;
    background-image: linear-gradient(45dge, rgb(46,46,254),rgb(154,13,154));
    margin: 0 auto;
}
.from-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 80px 100px;
}
.from .from-discription{
    min-height: 600px;
    width: 390px;
    background-color: white;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 30px;
}
.from{
    .login{
        text-align: center;
        h1{
            font-weight: 500;
        }
        p{
            font-weight: 100;
            font-size: 15px;
            margin: 10px;
        }
    }
}
.from-login-button button{
    background-image: linear-gradient(45deg, rgb(144,144,241),rgb(244,137,244));
    font-size: 18px;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    transition: all 0.8 ease-in-out;
}